<header>

  <div class="container">

    <div class="intro-text">
      <!-- <img class="deepray-logo" src="img/logo_deepray.png"></img> -->
      <div class="intro-lead-in">
        <span>Artificial intelligence applied</span>
        <br>
        <span>towards zero defects production</span>
      </div>

      <div class="embed-responsive embed-responsive-16by9" >
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fsx8TnZJOrA?rel=0&amp;controls=0&amp;showinfo=0;autoplay=1"></iframe>
      </div>

      <p class="about-p">
        <a href="mailto:info@orobix.com"  class="btn btn-xl btn-left-1em">Contact us</a>
      </p>

      <!-- <p class="promotion">
        <i class="promotion"><a class="system-req" href="#systemReqModal" data-toggle="modal">System requirements</a></i>
      </p> -->
      <!-- <p class="promotion-2">
        <i class="promotion-2">Last version 1.2.3 - Apr 15 2015</i>
      </p> -->
    </div>
  </div>


</header>
