<!-- <section id="modules">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading"><span class="orobix-font">DICOM&#xe601;NEXT features</span></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-offset-2 modules-item">
        <a href="#modulesModal1" class="modules-link" data-toggle="modal">
          <div class="modules-hover">
            <div class="modules-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img src="img/modules/modules_1.png" class="img-responsive" alt="Image interactions"></img>
        </a>
        <div class="modules-caption">
          <h4>Image interactions</h4>
        </div>
      </div>
      <div class="col-md-4 col-sm-offset-2 modules-item">
        <a href="#modulesModal2" class="modules-link" data-toggle="modal">
          <div class="modules-hover">
            <div class="modules-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img src="img/modules/modules_2.png" class="img-responsive" alt="Regions of Interest"></img>
        </a>
        <div class="modules-caption">
          <h4>Regions of Interest</h4>
        </div>
      </div>
      <div class="col-md-4 col-sm-offset-2 modules-item">
        <a href="#modulesModal3" class="modules-link" data-toggle="modal">
          <div class="modules-hover">
            <div class="modules-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img src="img/modules/modules_4.png" class="img-responsive" alt="Full screen and customizable viewer"></img>
        </a>
        <div class="modules-caption">
          <h4>Full screen and customizable viewer</h4>
        </div>
      </div>
      <div class="col-md-4 col-sm-offset-2 modules-item">
        <a href="#modulesModal4" class="modules-link" data-toggle="modal">
          <div class="modules-hover">
            <div class="modules-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img src="img/modules/modules_7.png" class="img-responsive" alt="Multi-planar reformatting"></img>
        </a>
        <div class="modules-caption">
          <h4>Multi-planar reformatting</h4>
        </div>
      </div>
      <div class="col-md-4 col-sm-offset-2 modules-item">
        <a href="#modulesModal5" class="modules-link" data-toggle="modal">
          <div class="modules-hover">
            <div class="modules-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img src="img/modules/modules_5.png" class="img-responsive" alt="Cross-reference lines"></img>
        </a>
        <div class="modules-caption">
          <h4>Cross-reference lines</h4>
        </div>
      </div>
      <div class="col-md-4 col-sm-offset-2 modules-item">
        <a href="#modulesModal6" class="modules-link" data-toggle="modal">
          <div class="modules-hover">
            <div class="modules-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img src="img/modules/modules_9.png" class="img-responsive" alt="Import images from local disk or CD/DVD drive"></img>
        </a>
        <div class="modules-caption">
          <h4>Import images from local disks or PACS</h4>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modules-modal modal fade" id="modulesModal1" tabIndex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Image interactions</h2>
            <img class="img-responsive" src="img/modules/modules_1.png" alt="Image interactions"></img>
            <p>Fluid zooming, panning and window/level control. Preset window/level settings for Computed Tomography.</p>
            <button type="button" class="btn btn-vmtklab" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modules-modal modal fade" id="modulesModal2" tabIndex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Region of Interest</h2>
            <img class="img-responsive" src="img/modules/modules_2.png" alt="Region of Interest"></img>
            <p>ROIs and measurements, such as segment lengths, fiducial points and text annotations.</p>
            <button type="button" class="btn btn-vmtklab" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modules-modal modal fade" id="modulesModal3" tabIndex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Full screen and customizable viewer</h2>
            <img class="img-responsive" src="img/modules/modules_4.png" alt="Full screen and customizable viewer"></img>
            <p>Multiple series on screen can be arranged in a user-defined range of layouts.</p>
            <button type="button" class="btn btn-vmtklab" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modules-modal modal fade" id="modulesModal4" tabIndex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Multi-planar reformatting</h2>
            <img class="img-responsive" src="img/modules/modules_7.png" alt="Multi-planar reconstruction"></img>
            <p>Visualization of series in coronal, sagittal, axial or user-defined, multi-planar orientation.</p>
            <button type="button" class="btn btn-vmtklab" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modules-modal modal fade" id="modulesModal5" tabIndex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Cross-reference lines</h2>
            <img class="img-responsive" src="img/modules/modules_5.png" alt="Cross-reference lines"></img>
            <p>Display of cross-reference lines to easily locate the same area on series in multiple orientations.</p>
            <button type="button" class="btn btn-vmtklab" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modules-modal modal fade" id="modulesModal6" tabIndex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Import images from local disk or PACS.</h2>
            <img class="img-responsive" src="img/modules/modules_9.png" alt="Import images from local disk or PACS"></img>
            <p>Import images from a hard drive or CD/DVD disks. The application provides a safe connection to a PACS system. Query/retrieve and push services are available.</p>
            <button type="button" class="btn btn-vmtklab" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</script> -->
