<!-- <section id="tutorials">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Video Tutorials</h2>
        <h3 class="section-subheading text-muted">Learn how to use VMTKLab basic functionalities</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12 col-xs-12 modules-item centercontents">
        <iframe width="360" height="203" src="http://www.youtube.com/embed/T-xl_w2MULk?rel=0&amp;showinfo=0" frameBorder="0" allowFullScreen></iframe>
        <div class="modules-caption">
          <h4>Viewer Workflow</h4>
          <p class="text-muted">Compose and visualize scenes from individual datasets.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12 modules-item centercontents">
        <iframe width="360" height="203" src="http://www.youtube.com/embed/9zSgEjTvrzQ?rel=0&amp;showinfo=0" frameBorder="0" allowFullScreen></iframe>
        <div class="modules-caption">
          <h4>VMTKLab workflows</h4>
          <p class="text-muted">Save your workflows and share your data or resume it whenever you like.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12 modules-item centercontents">
        <iframe width="360" height="203" src="http://www.youtube.com/embed/4Ni7G6R61Zg?rel=0&amp;showinfo=0" frameBorder="0" allowFullScreen></iframe>
        <div class="modules-caption">
          <h4>Centerlines</h4>
          <p class="text-muted">Compute centerlines of branching tubular structures.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12 col-xs-12 modules-item centercontents">
        <iframe width="360" height="203" src="http://www.youtube.com/embed/V3-O5b0HPmk?rel=0&amp;showinfo=0" frameBorder="0" allowFullScreen></iframe>
        <div class="modules-caption">
          <h4>Surface Preprocessing</h4>
          <p class="text-muted">Surface clipping, flow extensions, surface remeshing and more</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12 modules-item centercontents">
        <iframe width="360" height="203" src="http://www.youtube.com/embed/FpDAs1immr8?rel=0&amp;showinfo=0" frameBorder="0" allowFullScreen></iframe>
        <div class="modules-caption">
          <h4>Image segmentation</h4>
          <p class="text-muted">Reconstruct the 3D surface of a vascular segment from CT or MR images using level sets.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12 modules-item centercontents">
        <iframe width="360" height="203" src="http://www.youtube.com/embed/SvX3vXrIvN8?rel=0&amp;showinfo=0" frameBorder="0" allowFullScreen></iframe>
        <div class="modules-caption">
          <h4>Active Tubes</h4>
          <p class="text-muted">Segmentation tutorial using active tubes algorithm.</p>
        </div>
      </div>
    </div>
  </div>
</section> -->
